
body {
  margin: 0;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.header{
  background-color: #0000002E;
  padding: 0vw 1vw 0vw 1vw;;

}
.contenedor1{
  width: 100%;
  height: 57vw;
  background-image: url(../img/background.jpg);
  background-size: cover;

}
.logo{
  margin: 0vw 0vw 0vw 1.5vw;
  width: 9vw;
  height: 4vw;
}
.contenedor2{
  background-color: #353434;
  text-align: center;
  padding: 2vw;
  }
.row{
  padding: 5vw;
  text-align: center;
}
.title{
  padding-top: 0px;
  width: 39vw;
  height: 0vw;
  margin-top: 1vw;
  margin-left: 23px;
  font-size: 5vw;
  color: white;
  text-align:left;
}
.modComprar{
  margin: 1vw 5vw 1vw 10vw;
}
.btnComprar{
  margin: 1vw 0vw 2vw 0vw;
    background-color: #1473e6;
    border-color: #1473e6;
    color: #fff;
    border-radius: 8vw;
    font-size: 1vw;
    font-weight: 700;
    border-style: solid;
    width: 18vw;
    padding: 1vw;
}
.subTitle{
  color: white;
  font-size: 1.5vw;
  font-weight: 500;
  margin-bottom: 4vw;
  line-height: 1.5;
  text-align: left;
  margin-top: 15vw;
  width: 35vw;
  margin-left: 25px;
}
.subTitle3{
  font-size: 2.6vw;
  color: white;
  margin-block-end: 4vw;
}
.card{
  background: #FFFFFFE3;
  border-radius: 4px;
  margin:5vw;
  width: 32vw;
  margin-left: 15vw;
  height: 32vw;
}
.contCard{
  margin: 3vw;
  width: 22vw;
  height: 26vw;
}
.btnContinuar{
  margin: 2vw 0vw 2vw 0vw;
  background-color: #1473e6;
  border-color: #1473e6;
  color: #fff;
  border-radius: 2vw;
  font-size: 1vw;
  font-weight: 700;
  border-style: solid;
  width: 100%;
  padding: 1vw;
}


.cardFont{
  font-size: 3vw;
  color: #323232;
}
.marginForm{
  margin: 2vw 0vw 2vw 0vw;
  font-size: 1vw;
}
.modMail{
  margin: 1vw 0vw 2vw 0vw;
  height: 2vw;
  width: 100%;
  background-color: #FFF0;
  border-color: #999;
  border-radius: 0;
  border-width: 0 0 1px;
  padding-left: 0;
  padding-right: 0;
  resize: none;
  overflow-y: hidden;
  color: #3a3936;
  font-size: 1vw;
}
.title2{
  font-size: 2.5vw;
  font-weight: 400;
  margin-block-end:5vw;
}
.flexBox{
  display: flex;
}
.subTitle2{
  font-size: 1.4vw;
  font-weight: 400;
  letter-spacing: -0.019em;
}
.right{
  display: inline;
}
.aMargin{
  width: 50vw;
  margin: 2vw 9vw 2vw 9vw;
}
.aImg{
  margin: 2vw 2vw 2vw 2vw;
  height: 100%;
  width: 100%;
}
.CourseContent{
  width: 47vw;
  margin: 0vw 4vw 0vw 1vw;
}
.flexContenido{
  display: flex;
  align-items: center;
  background: #f9f9f9;
  border: solid 1px #e8e9eb;
  cursor: pointer;
  height: auto;
  margin-top: 3px;
  padding: 1vw;
  font-size: 1vw
}
.timeCurso{
  text-align: right;
  width: 47%;
}
.contentDer{
  display: flex;
  justify-content: flex-end;
  color: #505763;
  flex-basis: 46%;
}
.fontSizeCourseContent{
  font-size: 1vw;
    margin: 2vw 1vw 2vw 1vw;
}
.tituloCourseCont{
  font-size: 2vw;
    margin: 1vw 1vw 3vw 1vw;
}
.contentIzq{
  flex-direction: row;
  display: flex;
  align-items: center;
  color: #505763;
  flex: 1 1 auto;
  font-weight: 600;
}
.btnMas {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    background-color: rgb(249, 249, 249);
    border: solid 1px #e8e9eb;
    cursor: pointer;
    height: auto;
    margin-top: 3px;
    padding: 1vw 19vw 1vw 19vw;
    font-size: 1vw;
}
.btnInicio{
  float: right;
  line-height: 1;
  background-color: #1473e600;
  color: #fff;
  border-radius: 5vw;
  min-height: 2.5vw;
  padding: .5vw 1vw .5vw 1vw;
  font-size: 1vw;
  font-weight: 700;
  border-style: solid;
  margin: 1vw 1vw 0vw 0vw;
}
.marginImg{
  width: 24vw;
  margin: 0vw 4vw 0vw 3vw;
}
.btnVerMas{
  background-color: #1473e600;
  color: #fff;
  font-weight: 700;
  border-radius: 5vw;
  border-style: solid;
  font-size: 1.2vw;
  padding: 1vw 2vw 1vw 2vw;
  margin-top: 4vw;
}
.precio{
  font-size: 2vw;
  margin: 1vw;
}
.descuento{
  font-size: 1vw;
  vertical-align: middle;
  color: #f02d00;
}
li {
    padding: 1vw 1vw 0vw 1vw;
    list-style: none;
    text-align: start;
}
ul{
  width: 18vw;
  margin: 0vw 2vw 0vw 0vw;
}
.ico{
  vertical-align: sub;
    padding: 1vw 1vw 0.2vw 0vw;
    margin: -1px;
    width: 1.2vw;
    height: 1vw;
}
.descuentoP{
  font-size: 1vw;
  vertical-align: middle;
  text-decoration: line-through;
  color: #f02d00;
}
.valorCard{
  margin: 4vw 1vw 4vw 8vw;
  text-align: center;
  display: grid;
  width: 22vw;
  background-color: #1473e600;
  border-radius: 1vw;
  border-style: solid;
  border-color: #d4d4d4;
  border-width: thin;
  font-size: 1vw;
}
.ValorImg{
  border-radius: 50%;
  width: 6vw;
  margin: 2vw 8vw 1vw 8vw;
}
.valorTxt{
  margin: 2vw 3vw 2vw 3vw;
  font-size: 1vw;
}
.marcasImg{
  width: auto;
  margin: 3vw 2vw 3vw 2vw;
  height: 5vw;
}
.subTitle4{
  font-size: 1.5vw;
  color: white;
}
.textValor{
  font-size: 1.7vw;
  margin: 4vw 1vw 0vw 1vw;
}
.masValor{
  font-size: 1vw;
    color: blue;
}
.suscripcion{
  background-color: white;
  width: 29vw;
  height: 20vw;
  margin: 9vw 0vw 15vw 32vw;
  border-radius: 1%;
  padding: 5vw 5vw 5vw 5vw;
}

.pantallaMensaje {
    background-color: #efefef8a;
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: black;
    display: none;
    text-align: center;
}
.btnRegresar{
  background-color: #1473e6;
      border-color: #1473e6;
      color: #fff;
      border-radius: 5vw;
      font-size: 1vw;
      font-weight: 700;
      border-style: solid;
      margin: 1vw 0vw 0vw 0vw;
      padding: 1vw 0vw 1vw 0vw;
      width: 9vw;
      text-align: center;
}

@media only screen and (max-width: 768px){

.flexBox{
  display: block;
}
.header{
  padding: 0vw 3vw 0vw 3vw;
}
.logo {
  margin: 2.3vw 0vw 2vw 3vw;
  width: 33vw;
  height: 10vw;

}
.btnInicio{
  float: right;
  line-height: 1;
  background-color: #1473e600;
  color: #fff;
  border-radius: 5vw;
  min-height: 2.5vw;
  padding: 2.5vw 3vw 2.5vw 3vw;
  font-size: 4vw;
  font-weight: 700;
  border-style: solid;
  margin: 2.5vw 2vw 0vw 0vw;
}
.row{
  padding: 1vw 2vw 2vw 4vw;
  text-align: center;

}
.title{
  margin: 12vw 0vw 0vw 0vw;
  height: 27vw;
  width: 95vw;
  font-size: 10vw;
  color: white;
  text-align: left;
}
.subTitle{
  color: white;
  font-size: 8vw;
  width: 80vw;
  font-weight: 500;
  margin: 21vw 0vw 12vw 0vw;
  line-height: 1.2;
  text-align: left;
}
.cardFont{
  font-size: 8vw;
  color: #323232;
  margin-bottom: 10vw;
}
.aMargin{
  margin: 8vw 3vw 8vw 3vw;
  width: auto;
}
.aImg{
  width: 90%;
  margin: 20vw 5vw 20vw 5vw;
  height: 50%;
}
.title2{
  font-weight: 200;
  font-size: 8vw;
  margin: 10vw 1vw 10vw 1vw;
}
.modComprar{
  margin: 4vw 10vw 1vw 8vw;
}
.subTitle2{
  font-weight: 300;
  letter-spacing: -0.018em;
  line-height: 1.1;
  font-size: 4.5vw;
  margin-bottom: 11vw;
  margin-top: 11vw;
}
.subTitle3{
  font-weight: 200;
  letter-spacing: -0.018em;
  line-height: 1.1;
  font-size: 6.5vw;
  margin-bottom: 11vw;
  color: white;
}
.marginImg{
  margin-top: 5vw;
  margin-bottom: 10vw;
  width: 84vw;
}
.contenedor1{
  background-color: grey;
  height: 311vw;
  width: 100%;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center center;
}
.descuentoP {
    font-size: 7vw;
    vertical-align: middle;
    text-decoration: line-through;
    color: #f02d00;
}
.contenedor2{
  background-color: #353434;
  }
.card{
  background: #E5E5E5E3;
  border-radius: 4px;
  margin:5vw;
  margin-top: 18vw;
  width: unset;
  height: 118vw;
}
.marginForm {
    margin: 8vw 0vw 8vw 0vw;
    font-size: 4vw;
}
.contCard{
  padding: 10vw;
  width: auto;
  margin: auto;
}
.modMail{
  height: 28px;
  padding-bottom: 0;
  padding-top: 0;
  font-size: 3.5vw;
  width: 100%;
  background-color: #FFF0;
  border-color: #999;
  border-radius: 0;
  border-width: 0 0 1px;
  padding-left: 0;
  padding-right: 0;
  resize: none;
  overflow-y: hidden;
  color: #404040;
  margin: 5vw 0vw 5vw 0vw;
}
.tituloCourseCont {
    font-size: 6vw;
    margin: 6vw 1vw 4vw 1vw;
}
.btnContinuar{
  background-color: #1473e6;
  border-color: #1473e6;
  color: #fff;
  border-radius: 5vw;
  min-height: 10vw;
  font-size: 4vw;
  font-weight: 700;
  border-style: solid;
  margin: 7vw 0vw 7vw 0vw;
}
.btnRegresar {
    background-color: #1473e6;
    border-color: #1473e6;
    color: #fff;
    border-radius: 15vw;
    min-height: 10vw;
    font-size: 4vw;
    font-weight: 700;
    border-style: solid;
    margin: 7vw 0vw 7vw 0vw;
    padding: 7vwe 6vw 2vw 1vw;
    width: 32vw;
}
.btnComprar{
  margin: 1vw 0vw 2vw 0vw;
  background-color: #1473e6;
  border-color: #1473e6;
  color: #fff;
  border-radius: 6vw;
  font-size: 5vw;
  font-weight: 700;
  border-style: solid;
  width: 100%;
  padding: 3vw;
}

.btnVerMas{
  background-color: #1473e600;
  color: #fff;
  font-weight: 700;
  border-style: solid;
  font-size: 4vw;
  padding: 2vw 3vw 2vw 3vw;
  margin: 8vw;
}
.flexContenido{
  display: flex;
  align-items: center;
  background: #f9f9f9;
  border: solid 1px #e8e9eb;
  cursor: pointer;
  height: auto;
  margin-top: 3px;
  padding: 5vw 1vw 1vw 1vw;
  font-size: 5vw;
}
.contentIzq{
  flex-direction: row;
  display: flex;
  align-items: center;
  color: #505763;
  flex: 1 1 auto;
  font-weight: 600;
}
.plusIcon{
  color: #0087ff;
  display: inline-block;
  width: 12px;
  height: auto !important;
}
.descuento{
  font-size: 5vw;
  vertical-align: middle;
  color: #f02d00;
}
.CourseContent{
  width: unset;
  margin: 0vw;
}
.contentDer{
  display: none;
}
.cantLec{
  display: block;
  margin-right: 20px;
  white-space: nowrap;
}
.fontSizeCourseContent{
  font-size: 6vw;
    margin: 1vw 1vw 5vw 1vw;
}
.timeCurso{
  text-align: right;
  width: 47%;
}
.precio{
  font-size: 8vw;
  margin: 5vw;
}
.marcasImg {
    width: auto;
    margin: 3vw 2vw 3vw 2vw;
    height: 12vw;
}
.textValor {
    font-size: 6.7vw;
    margin: 8vw 0vw 10vw 0vw;
}
.valorTxt {
    margin: 2vw 3vw 2vw 3vw;
    font-size: 5vw;
}
.valorCard {
    margin: 4vw 8vw 5vw 8vw;
    text-align: center;
    display: grid;
    width: 82vw;
    background-color: #1473e600;
    border-radius: 1vw;
    border-style: solid;
    border-color: #d4d4d4;
    border-width: thin;
    font-size: 1vw;
}
.ValorUsr{
  font-size: 5vw;
    margin: 1vw 1vw 3vw 1vw;
}
.ValorImg{
  border-radius: 50%;
  width: 33vw;
  margin: 5vw 25vw 5vw 24vw;
}
.masValor {
    font-size: 4vw;
    color: blue;
    padding: 3vw 1vw 8vw 1vw;
}
.subTitle4{
  font-size: 3vw;
  color: white;
}
.btnMas {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  background-color: rgb(249, 249, 249);
  border: solid 1px #e8e9eb;
  cursor: pointer;
  height: auto;
  margin-top: 3px;
  padding: 3vw 32vw 3vw 32vw;
  font-size: 4vw;
}
ul{
  display: none;
}

.suscripcion {
    background-color: white;
    width: 77vw;
    height: 85vw;
    margin: 0;
    border-radius: 1%;
    padding: 38vw 53vw 100vw 12vw;
}
}
